<div class='container'>
  <div class='row'>
    <h1>meanBay -- Bid Now!</h1>
    <button class='btn btn-danger pull-right' ng-click="logout()">Logout</button>
  </div><!-- row-->

  <div class='row'>
    <div ng-if='allProducts'>
      <div ng-if='bidError'>
        <p ng-repeat='error in bidError' ng-bind='error'></p>
      </div><!-- bidError -->
      <div ng-repeat='product in allProducts | orderBy:"product._id"'>
        <div ng-controller='bidsController'>
          <div class='col-md-5 fixedHeight'>

            <div class='row productDescription'>
              <img src='{{product.img}}' class='thumbnail'>
              <h3>{{product.name}}</h3>
            </div><!-- row-->

            <div class='row bidFormDiv'>
              <form ng-submit='submitBid()' novalidate>
                <input type='hidden' ng-model="productId" ng-init='productId=product._id'>
                $ <input type='number' min='1' step='any' ng-model='bidAmt' required>
                <input type='submit' class='btn btn-sm btn-primary' value='Bid'>
              </form>
            </div><!-- row -->

            <div class='row currentBidDiv'>
              <h5 class='currentBidHeader'>Current Bids</h5>
              <div class='currentBids'>
                <div ng-repeat="bids in product.bids | filter:search | orderBy:'-amount'">
                  <p>{{bids._user}}: ${{bids.amount}}</p>
                </div>
              </div><!-- current bids -->

              <div class='searchBar'>
                <input type='text' ng-model='search' placeholder='Filter..'>
              </div><!-- searchbar -->
            </div><!--row-->
          </div><!-- col-md-5 -->
        </div>
      </div>
    </div><!-- if allProducts -->
  </div><!-- row -->

  <div class='row'>
    <button class='btn btn-danger pull-right' ng-click='endBid()'>End Bid</button>
  </div><!-- row -->
</div>
